*{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top:0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #308af1,#7c12d3);
    padding: 0 !important;
}
.navbar-nav li 
{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars
{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important;
}
#footer{
    background-image: linear-gradient(to right, #308af1,#7c12d3);
    color: #fff;

}

.footer-img{
    width: 100%;

}

.footer-box{
    padding:0px;
}


.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}
.footer-box .fa{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #308af1,#7c12d3);
}

.footer-box .form-control
{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #308af1,#7c12d3);
}

hr{
    background-color: #fff;
}
.copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}

#social-media
{
    background: #f8f9fa;
    padding: 100px 0;
}
#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icons img{
    width: 60px;
    transition: 0.5s;
}

.social-icons a:hover img{
    transform: translateY(-10px);
}

#prediction{
    margin: 100px 0;
}

.prediction{
    margin-top: 50px;
    margin-bottom: 50px;
}
/* 
.prediction img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin:0 10px;
} */

.user-details{
    display: inline-block;
    font-size: 12px;
}

#jobs{
    margin: 100px 0;
}

.jobs{
    margin-top: 50px;
    margin-bottom: 50px;
}

.jobs img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin:0 10px;
}

.user-details{
    display: inline-block;
    font-size: 12px;
}
